* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to right, #64b3f4, #c2e59c);
}

.app {
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    margin: 200px auto 0;
    border-radius: 10px;
    padding: 30px;

    h1 {
        font-weight: 25px;
        color: #001e4d;
        font-weight: 600;
        border-bottom: 1px solid #333;
        padding-bottom: 30px;
    }
}

.quiz {
    padding: 20px 0;

    h2 {
        font-size: 18px;
        color: #001e4d;
        font-weight: 600;
    }
}

#answer-buttons {
    .btn {
        background-color: #fff;
        color: #222;
        font-weight: 500;
        width: 100%;
        border: 1px solid #222;
        padding: 10px;
        text-align: left;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 20px;
        transition: all 0.3s;

        &:hover {
            background: #222;
            color: #fff;
        }
    }


}

#next-btn {
    background-color: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

span {
    .counter {
        margin-top: 100px;
    }
}